$--main-color-orange: #ff6334;
$--main-color-white: #ffff;
$--main-color-gray: #abaaaa;
$--main-black-light: #3e3e3e;
$--main-color-black: #000;
$--main-color-blue: #132742;
$--main-light-white: #dadee2;
$--main-dark-gray: #656565;
$--main-light-gray: #828282;
$--main-color-star: #ffc455;
$--main-light-orange: #ffe5d7;

$--main-bg-color: #f9f9f9;
$--main-bg-pink:  #fff4f1;



//font size
$default-font-size: 1.6rem;

//primary radius
$primary-radius: 7px;
$secondary-radius: 5px;