* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  html {
      /* this defines what 1rem is */
    font-size: 62.5%;  //font-size: 10px; 1rem is 10px; 10/16 = 62.5% 
   
    font-family: 'Roboto', sans-serif;
    // @include respond(phone){ 

    // }

   

    @include respond(tab-land) { //width < 1280px?
        font-size: 56.25%;  //1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { //width < 600px?
        font-size: 50%; //1 rem = 8px, 8/16 = 50% 
    }

    @include respond(big-desktop) {
        font-size: 75%;   //1 rem = 11px, 11/16 = 68.75%
    }
  }
  
  body {
    box-sizing: border-box;
    background-color: $--main-bg-color;
    //padding: 3rem;

    // @include respond(tab-port){ 
    //     padding: 0;
    //   }
  }